<form (submit)="cadastrar($event)">
  <div class="form-group">
    <label for="titulo">Título</label>
    <input
      id="titulo"
      name="titulo"
      [(ngModel)]="foto.titulo"
      type="text"
      class="form-control"
      placeholder="Digite um título para a foto"
      required>
  </div>
  <div class="form-group">
    <label for="url">Url</label>
    <input
      id="url"
      name="url"
      [(ngModel)]="foto.url"
      type="text"
      class="form-control"
      placeholder="Digite a url da foto"
      required>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
  <button type="button" class="btn btn-danger" (click)="iniciarValores($event)" >Cancelar</button>
  <button type="button" [routerLink]="['/lista']" class="btn btn-info">Voltar</button>
</form>
